---
layout: default
title: 'About'
---

{% include contentHeader.html title=page.title %}

<p>As a producer closely-aligned to the mutant, hybrid sounds emanating from both instrumental grime and wider strands of UK-centric bass music, Last Japan has certainly carved out his own niche within the landscape over the last three years. His sound is a positively cold spin on formative grime beats, laced with full-blooded melodies and softer, eerier textures.</p> 

<p>Following a short burst of grime singles via Sony that saw Last Japan oversee commissioned work for Nokia and fashion brand, Kenzo, Last Japan’s self-released mixtape, ‘Ride With Us’ (2014), was the first to fully alert the wider scene to his conceptual, future-facing producer world, and take note.</p>

<p>The release featured previous collaborator, Trim as well as features from Mr Mitch, Treble Clef, Cliques and fabled Ruff Sqwad MC, Rapid. This punctuated the next-gen grime sounds that also saw ‘Ride With Us’ reviewed as Mixmag’s ‘Album Of The Month’ upon its release.</p> 

<p>His freeze-dried remix of Chemist’s ‘Blocks’ in the summer of 2014 then saw Last Japan join the ranks of emergent grime label, Coyote Records, from which he has since launched ‘Harca’ – arguably his most identifiable track to date – and a powerful remix for another Coyote discovery, Letta. He also collaborated with grime legend D Double E on the excellent, ‘Til Da Morning Comes’.</p>

<p>June 2016 saw Last Japan release the highly anticipated track ‘Ascend’ featuring MOBO nominee AJ Tracey. In a lesson of substantial skill, clever wordplay and breathless delivery, AJ supports Last Japan’s signature icy grime production effortlessly. Ascend received extensive airplay from the likes of Sian Anderson, Kode9, Annie Mac and Mary Anne Hobbs and was rated 9.5 by DJ Magazine.</p>

  <!-- {% for item in site.posts %}
  <li>
    <span>{{ item.date | date: "%B %-d, %Y" }}</span>
    <h1>
      <a href="{{ item.url | prepend: site.baseurl }}">{{ item.title }}</a>
    </h1>
  </li>
  {% endfor %} -->
