---
layout: profile
title: 'Circadian Rhythms'
---

{% include contentHeader.html title=page.title %}
<div class="dib w-80-m w-80-ns fl mr4-ns">
  <p>Founded in London, in 2013, by producers Last Japan and Blackwax, Circadian Rhythms is a multidisciplinary label engaged in evolving the delivery of sound. Since launching their monthly show on NTS, it has expanded into a larger collective, attracting artists, designers and musicians from all over the world. The labels conceptual release formats challenge the conventions of how music can be obtained and consumed in a mostly saturated digital age. With a focus on sustainability, ecological concern and self/communal empowerment within each project, Circadian Rhythms sets to redefine the value and purpose of music.</p>

<a href="https://circadian-rhythms.com/cr004" target="_blank">CR004: PARTISAN</a><br/>
<p>CR004: An old world in the shell of the new</p>        
<p><img class="w50 pt5" src="/assets/images/cr004_top.png"></p>
<p><img class="w50 pt5" src="/assets/images/cr004_bottom.png"><br/></p>
<br/> 

<p>
<a href="https://circadian-rhythms.com/cr003" target="_blank">CR003: PLATA LAST DAYZ</a><br/>
<p>‘Last Dayz’ is a multimedia digital release which aims to emphasise and enhance the listener’s appreciation for obtaining and digesting music. It’s a response to a society which prioritises passive consumption over meaningful human connection — one affected by increasing rates of mental illness. Which music entirely composed by Spanish producer Plata, ‘Last Dayz’ is an outcome of the artist’s own battles with diagnosed bipolar.</p>        
<div class="video-container"><iframe src="https://www.youtube.com/embed/pQZtRwLjuTw?vq=hd1080&modestbranding=1&showinfo=0&rel=0&color=white" width="800" height="415" frameborder="0"></iframe></div>
<p><img class="w50 pt5" src="/assets/images/cr003_top.png"><br/></p>
<br/>

<p>
<a href="https://circadian-rhythms.com/cr002" target="_blank">CR002: BREATHE</a><br/>
<p>CR002: BREATHE is an attempt to bridge club culture, fashion, music with environmental issues. In order to make air pollution visible, Circadian Rhythms have curated a night of music, designed an anti-pollution mask utilising state of the art nanofibre technology and a hand-tailored T-shirt that will be sold at the event. The lineup consists of some of the most talented artists in the UK - all of which have featured on the Circadian Rhythms NTS show over the past few years.</p>        
<p><img class="w50 pt5" src="/assets/images/cr002_top.png"></p>
<p><img class="w50 pt5" src="/assets/images/cr002_bottom.png"><br/></p>
<br/> 

<p>
<a href="https://circadian-rhythms.com/cr001" target="_blank">CR001: METAL</a><br/>
<p>The collective challenges our understanding of what makes a record label by exploring music through the creation of physical and non-physical objects. Each musical output is to have its own specific collection of clothing, alongside artwork, video and mini site. As a result it’s more than a record / clothing label, but a creative collective whose different interpretations of a single theme are executed under the same umbrella.</p>        
<div class="video-container"><iframe src="https://www.youtube.com/embed/DLpgHzxyy5Q?vq=hd1080&modestbranding=1&showinfo=0&rel=0&color=white" width="800" height="415" frameborder="0"></iframe></div>
<p><img class="w50 pt5" src="/assets/images/cr001_top.png"></p>
<p><img class="w50 pt5" src="/assets/images/cr001_bottom.png"><br/></p>
<br/> 
</div>

<ul class="dib w-30-m w-30-ns list ml0 pl0 fl">
  <li> <a href="https://www.circadian-rhythms.com"><img class="w2 pt3" src="/assets/images/cr_logo_mark_black copy.png"></a></li>
</ul>



  <!-- {% for item in site.posts %}
  <li>
    <span>{{ item.date | date: "%B %-d, %Y" }}</span>
    <h1>
      <a href="{{ item.url | prepend: site.baseurl }}">{{ item.title }}</a>
    </h1>
  </li>
  {% endfor %} -->

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-57605289-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-57605289-1');
</script>

