---
layout: profile
title: 'Fashion'
---

{% include contentHeader.html title=page.title %}
<div class="dib w-80-m w-80-ns fl mr4-ns">
  
<a href="https://theadventuresof.com/work/asicstiger-what-the-gel-1" target="_blank">ASICS 'What The Gel'</a><br/>
<p>In the first ever global brand campaign for ASICSTIGER, I was asked to appear alongside the up-and-coming French-Algerian hip hop artist Ta Ra and Ildar Iksanov, the Moscow based stylist in the ‘What The Gel’ campaign. Directed by photographer Robert Wunsch.</p>
  <div class="video-container"><iframe src="https://www.youtube.com/embed/p1W5znapNaQ?vq=hd1080&modestbranding=1&showinfo=0&rel=0&color=white" width="800" height="415" frameborder="0"></iframe></div>
<br/>



  <!-- {% for item in site.posts %}
  <li>
    <span>{{ item.date | date: "%B %-d, %Y" }}</span>
    <h1>
      <a href="{{ item.url | prepend: site.baseurl }}">{{ item.title }}</a>
    </h1>
  </li>
  {% endfor %} -->

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-57605289-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-57605289-1');
</script>

