---
layout: profile
title: 'Marco Giuliani'
---

{% include contentHeader.html title=page.title %}
<div class="dib w-80-m w-80-ns fl mr4-ns">
  <p>A UK based artist specialising in production, composition and photography.</p>

  <p>Contact: <a href="mailto:hello@lastjapan.com">hello@lastjapan.com</a></p>
  <p>CV/Portfolio available on request.</p>
</div>

<ul class="dib w-30-m w-30-ns list ml0 pl0 fl">
  <li><p>CLIENTS:</p></li>
  <li><p>Evian</p></li>
  <li><p>KENZO</p></li>
  <li><p>GQ</p></li>
  <li><p>NOKIA</p></li>
</ul>



  <!-- {% for item in site.posts %}
  <li>
    <span>{{ item.date | date: "%B %-d, %Y" }}</span>
    <h1>
      <a href="{{ item.url | prepend: site.baseurl }}">{{ item.title }}</a>
    </h1>
  </li>
  {% endfor %} -->

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-57605289-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-57605289-1');
</script>

