---
layout: profile
title: 'Profile'
---

{% include contentHeader.html title=page.title %}
<div class="dib w-80-ns fl mr4-ns">
  <p>As a producer closely-aligned to the mutant, hybrid sounds emanating from both instrumental grime and wider strands of UK-centric bass music, Last Japan has certainly carved out his own niche within the landscape over the last three years. His sound is a positively cold spin on formative grime beats, laced with full-blooded melodies and softer, eerier textures.</p>

  <p>Following a short burst of grime singles via Sony that saw Last Japan oversee commissioned work for Nokia and fashion brand, Kenzo, Last Japan’s self-released mixtape, ‘Ride With Us’ (2014), was the first to fully alert the wider scene to his conceptual, future-facing producer world, and take note.</p>

  <p>Last Japan joined the ranks of emergent grime label, Coyote Records, from which he has since launched ‘Harca’ and 2016's highly anticipated track ‘Ascend’ – arguably his most identifiable track to date - his signature icy grime production supported effortlessly by MOBO award nominee, AJ Tracey. This track received extensive airplay from the likes of Sian Anderson, Kode9, Annie Mac and Mary Anne Hobbs and was rated 9.5 by DJ Magazine. </p>

  <p>His most recent release ‘LUNA’ is a 7 track EP that runs parallel to the work released on Coyote Records. Arranged to evoke personal interpretations from the listener, it's a winter-inspired body of work; a soundtrack to misty days and cold, crisp nights with Canary Wharf looming over the East End, the Shard and London skyline far off in to the distance - LUNA received 9/10 in DJ Magazine.</p>

  <img class="w4 pt5" src="/assets/images/ascend_logo.png"/>
</div>
<ul class="dib w-30-ns list ml0 pl0 fl">
  <li>Links:</li>
  <li><a href="mailto:hello@lastjapan.com">hello@lastjapan.com</a></li>
  <li><a href="htttps://www.instagram.com/lastjapan">Instagram</a></li>
  <li><a href="htttps://www.twitter.com/lastjapan">Twitter</a></li>
  <li><a href="htttps://www.soundcloud.com/lastjapan">Soundcloud</a></li>
  <li><a href="www.lastjapan.bandcamp.com">Bandcamp</a></li>
  <li></li>
</ul>

  <!-- {% for item in site.posts %}
  <li>
    <span>{{ item.date | date: "%B %-d, %Y" }}</span>
    <h1>
      <a href="{{ item.url | prepend: site.baseurl }}">{{ item.title }}</a>
    </h1>
  </li>
  {% endfor %} -->
