---
layout: profile
title: 'Projects'
---

{% include contentHeader.html title=page.title %}
<div class="dib w-80-m w-80-ns fl mr4-ns">

  
<p>
<a href="https://www.youtube.com/watch?v=FNKunmqwr80" target="_blank">Jam Baxter 'Touching Scenes' Album</a><br/>
<p>I produced 'Vulture' (track 12) on Jam Baxter's 'Touching Scenes' album released November 2018 on High Focus Records. The track was also released on a limited edition 7" vinyl, hand numbered and signed by Jam Baxter together with the track Saliva. Jam wanted to explore something that was outside the norm of his current work. My aim was to keep to my roots in grime but also include elements Jam Baxter fans could relate with his past work.</p>
<div class="video-container"><iframe src="https://www.youtube.com/embed/FNKunmqwr80?vq=hd1080&modestbranding=1&showinfo=0&rel=0&color=white" width="800" height="415" frameborder="0"></iframe></div>
<br/>
  
<a href="https://lastjapan.bandcamp.com/album/cold-ascent" target="_blank">COLD ASCENT</a><br/>
  <p>A three track body of work created in collaboration with Finnish producer Inner. As the first release on the label ASCEND we came together to fuse influences from our own tastes in Drill, Grime, and Jungle. Artwork by Dylan Tushar.</p>
<div class="video-container"><iframe src="https://www.youtube.com/embed/SjqBQUf3l9M?vq=hd1080&modestbranding=1&showinfo=0&rel=0&color=white" width="800" height="415" frameborder="0"></iframe></div>
<br/>
  
<a href="https://www.lastjapan.com/shop" target="_blank">LUNA</a><br/>
  <p>Released in March 2018, LUNA featured eight tracks. The 12" vinyl version of LUNA featured a 12x24" pull out black and white poster. Drawing inspiration from astronomy, LUNA was an alternative take on soundtrack to movies such as Interstellar and 2001: A Space Odyssey. The record featured guest vocals from artist Prynce Mini. All art direction and design was by Jase Coop.</p>
<div class="video-container"><iframe src="https://www.youtube.com/embed/FnKV9keLGc0?vq=hd1080&modestbranding=1&showinfo=0&rel=0&color=white" width="800" height="415" frameborder="0"></iframe></div>
<br/>
  
<a href="https://theadventuresof.com/work/asicstiger-what-the-gel-1" target="_blank">ASICS 'What The Gel'</a><br/>
<p>In the first ever global brand campaign for ASICSTIGER, I was asked to appear alongside up and coming French-Algerian hip hop artist Ta Ra and Ildar Iksanov, the  Moscow based stylist in the ‘What The Gel’ campaign. Directed by photographer Robert Wunsch.</p>
  <div class="video-container"><iframe src="https://www.youtube.com/embed/p1W5znapNaQ?vq=hd1080&modestbranding=1&showinfo=0&rel=0&color=white" width="800" height="415" frameborder="0"></iframe></div>
<br/>
  
<a href="https://www.lastjapan.com/shop" target="_blank">EXHALE / TEFLON</a><br/>
  <p>Exhale and Teflon released as a 7" vinyl run on Circadian Rhythms which came with a hand screen printed posted by William Green. Exhale featured London artist and MC Killa P with his signature yardie flow whilst on the b side Teflon was a personal experiment to create a piece of music that invoked the feeling of tension and anticipation.</p>
<div class="video-container"><iframe src="https://www.youtube.com/embed/wZESZ0S-Nb0?vq=hd1080&modestbranding=1&showinfo=0&rel=0&color=white" width="800" height="415" frameborder="0"></iframe></div>
<br/>

<a href="https://www.youtube.com/watch?v=pPviiyHvk7A" target="_blank">Evian x KENZO 'Naturally Playful'</a><br/>
  <p>Australian artist and director Nic Hamilton approached me to submit a piece of music to bed his animation for the Evian x Kenzo 'Naturally Playful' global campaign.</p>
<div class="video-container"><iframe src="https://www.youtube.com/embed/pPviiyHvk7A?vq=hd1080&modestbranding=1&showinfo=0&rel=0&color=white" width="800" height="415" frameborder="0"></iframe></div>
<br/>  


<a href="https://youtu.be/8mImaymLtoE" target="_blank">Nokia 'Lumia 820'</a><br/>
<p>I was approached to be a part of this global campaign for Nokia by London based company DesignStudio. Together with Luke Oldham I created the music for  and also starred in three seperate adverts that showcased various features of the Nokia Lumia 820.</p>
<div class="video-container"><iframe src="https://www.youtube.com/embed/YLLBMT4imso?vq=hd1080&modestbranding=1&showinfo=0&rel=0&color=white" width="800" height="415" frameborder="0"></iframe></div>
<br/>
  
<a href="https://youtu.be/atpHA3kRUIA" target="_blank">Pause Festival 'Ian Clemmer'</a><br/>
<p>Music composition and sound design created in collaboration with Radium Audio for Australia's business and creativity festival, Pause Fest.</p>
<div class="video-container"><iframe src="https://www.youtube.com/embed/atpHA3kRUIA?vq=hd1080&modestbranding=1&showinfo=0&rel=0&color=white" width="800" height="415" frameborder="0"></iframe></div>
<br/>  
  

<a href="https://youtu.be/atpHA3kRUIA" target="_blank">E3 Nights</a><br/>
<p>A shiveringly cold take on the early morning mid-winter London skyline.</p>
<iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/217635809&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
<br/>  
  
  
<a href="https://www.gq-magazine.co.uk/video/the-business-of-grime-full-series" target="_blank">GQ Magazine</a><br/>
  <p>Working with Ewan Spencer and his team, I helped to soundtrack and select music that features in GQ's documentary about the history of Grime music.</p>
<div class="video-container"><iframe src="https://www.youtube.com/embed/3_2AVogIb5c?vq=hd1080&modestbranding=1&showinfo=0&rel=0&color=white" width="800" height="415" frameborder="0"></iframe></div> 
<br/>

  
 <a href="https://youtu.be/O5FTHvzsbh8" target="_blank">Bugatti - Car Advert</a><br/>
  <p>Alternative music composition concept to an already published advert. Composed, recorded and mixed by Luke Oldham and I.</p>
<div class="video-container"><iframe src="https://www.youtube.com/embed/O5FTHvzsbh8?vq=hd1080&modestbranding=1&showinfo=0&rel=0&color=white" width="800" height="415" frameborder="0"></iframe></div>
<br/>
  
  
<a href="https://youtu.be/Aai6oncd3D4" target="_blank">Apple 'iPad Air'</a><br/>
<p>Alternative music composition concept to an already published advert. Composed, recorded and mixed by Luke Oldham and I.</p>
<div class="video-container"><iframe src="https://www.youtube.com/embed/Aai6oncd3D4?vq=hd1080&modestbranding=1&showinfo=0&rel=0&color=white" width="800" height="415" frameborder="0"></iframe></div>
<br/>

  
<a href="https://www.lastjapan.com/shop" target="_blank">ASCEND</a><br/>
  <p>2016, 12" vinyl release on Coyote Records it featured then up and coming rapper and MC AJ Tracey. Keeping my signature style as the bed, I drew for similar sound palettes used by Hans Zimmer to create a icy aesthetic to the track.</p>
<div class="video-container"><iframe src="https://www.youtube.com/embed/wsqRUf-iMAc?vq=hd1080&modestbranding=1&showinfo=0&rel=0&color=white" width="800" height="415" frameborder="0"></iframe></div>
<br/>
  
  
<a href="https://www.youtube.com/watch?v=CgRaJZlqwzw" target="_blank">VICE: London Bikelife</a><br/>
  <p>On a number of occasions I've been approached by VICE requesting to license tracks for feature documentaries they are creating. In the documentary below my compositions Golden Eye, Crystal Tokyo and M.Y.S.T were used.</p> 
<div class="video-container"><iframe src="https://www.youtube.com/embed/CgRaJZlqwzw?vq=hd1080&modestbranding=1&showinfo=0&rel=0&color=white" width="800" height="415" frameborder="0"></iframe></div>
<br/>
  
  
<a href="https://www.youtube.com/watch?v=tAbPx2yCFwE" target="_blank">VICE: Black Widow</a><br/>
  <p>On a number of occasions I've been approached by VICE requesting to license tracks for feature documentaries they are creating. In the documentary below my track Girl was used.</p>
<div class="video-container"><iframe src="https://www.youtube.com/embed/tAbPx2yCFwE?vq=hd1080&modestbranding=1&showinfo=0&rel=0&color=white" width="800" height="415" frameborder="0"></iframe></div>
<br/>
  
  
<a href="https://www.youtube.com/watch?v=VaMjhwFE1Zw" target="_blank">VICE: Inside the Superhuman World of Iceman</a><br/>
    <p>On a number of occasions I've been approached by VICE requesting to license tracks for feature documentaries they are creating. In the documentary below my track Untitled #3 was used.</p>
<div class="video-container"><iframe src="https://www.youtube.com/embed/VaMjhwFE1Zw?vq=hd1080&modestbranding=1&showinfo=0&rel=0&color=white" width="800" height="415" frameborder="0"></iframe></div>
<br/>
  
  
<a href="https://www.youtube.com/watch?v=8mEU7yjG55g" target="_blank">Hardy Caprio 'Nights In Black'</a><br/>
  <p>Produced 'Nights In Black' which featured on Hardy Caprio's project Hardy Season.</p>
<div class="video-container"><iframe src="https://www.youtube.com/embed/8mEU7yjG55g?vq=hd1080&modestbranding=1&showinfo=0&rel=0&color=white" width="800" height="415" frameborder="0"></iframe></div>
<br/>
  
  
<a href="https://www.youtube.com/watch?v=NxojlDVy21w" target="_blank">Zomby 'Pyrex Nights (feat. Last Japan)'</a><br/>
  <p>A collaboration between Zomby and myself which was released on his 2013 album 'With Love', published on the label 4AD.</p>
<div class="video-container"><iframe src="https://www.youtube.com/embed/NxojlDVy21w?vq=hd1080&modestbranding=1&showinfo=0&rel=0&color=white" width="800" height="415" frameborder="0"></iframe></div>
<br/>
  
  
<a href="https://soundcloud.com/haleek-maul/my-plane-prod-last-japan-shy-guy" target="_blank">Haleek Maul 'My Plane'</a><br/>
<br/>

  
  </p>
  
</div>

<ul class="dib w-30-m w-30-ns list ml0 pl0 fl">
</ul>

  <!-- {% for item in site.posts %}
  <li>
    <span>{{ item.date | date: "%B %-d, %Y" }}</span>
    <h1>
      <a href="{{ item.url | prepend: site.baseurl }}">{{ item.title }}</a>
    </h1>
  </li>
  {% endfor %} -->

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-57605289-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-57605289-1');
</script>
