---
layout: profile
title: 'Projects'
---

{% include contentHeader.html title=page.title %}
<div class="dib w-80-m w-80-ns fl mr4-ns">

  
<p>
<a href="https://www.youtube.com/watch?v=FNKunmqwr80" target="_blank">Jam Baxter 'Touching Scenes' Album</a><br/>
<p>I produced 'Vulture' (track 12) on Jam Baxter's 'Touching Scenes' album released November 2018 on High Focus Records. The track was also released on a limited edition 7" vinyl, hand numbered and signed by Jam Baxter together with the track Saliva. Jam wanted to explore something that was outside the norm of his current work. My aim was to keep to my roots in grime but also include elements Jam Baxter fans could connect with his past work.</p>
<div class="video-container"><iframe src="https://www.youtube.com/embed/FNKunmqwr80?vq=hd1080&modestbranding=1&showinfo=0&rel=0&color=white" width="800" height="415" frameborder="0"></iframe></div>
<br/>
  
<a href="https://lastjapan.bandcamp.com/album/cold-ascent" target="_blank">COLD ASCENT</a><br/>
  <p>A three track body of work created in collaboration with Finnish producer Inner. As the first release on the label ASCEND we came together to fuse influences from our own tastes in Drill, Grime, and Jungle. Artwork by Dylan Tushar.</p>
<br/>  
  
<a href="https://www.lastjapan.com/shop" target="_blank">LUNA</a><br/>
  <p>Released in March 2018, LUNA featured eight tracks. The 12" vinyl version of LUNA featured a 12x24" pull out black and white poster. Drawing inspiration from astronomy, LUNA was an alternative take on soundtrack to movies such as Interstellar and 2001: A Space Odyssey. The record featured guest vocals from artist Prynce Mini. All art direction and design was by Jase Coop.</p>
<br/>  
  
<a href="https://theadventuresof.com/work/asicstiger-what-the-gel-1" target="_blank">ASICS 'What The Gel'</a><br/>
<div class="video-container"><iframe src="https://www.youtube.com/embed/p1W5znapNaQ?vq=hd1080&modestbranding=1&showinfo=0&rel=0&color=white" width="800" height="415" frameborder="0"></iframe></div>
<br/>
  
<a href="https://www.lastjapan.com/shop" target="_blank">EXHALE / TEFLON</a><br/>
  <p>A 7" vinyl run on Circadian Rhythms which came with a hand screen printed posted by William Green. Exhale featured London artist and MC Killa P with his signature yardie flow whilst on the b side Teflon was a personal experiment to create a piece of music that invoked tension and fear.</p>
<br/>
  
<a href="https://www.gq-magazine.co.uk/video/the-business-of-grime-full-series" target="_blank">GQ Magazine</a><br/>
<div class="video-container"><iframe src="https://www.youtube.com/embed/3_2AVogIb5c?vq=hd1080&modestbranding=1&showinfo=0&rel=0&color=white" width="800" height="415" frameborder="0"></iframe></div> 
<br/>
  
  
<a href="https://www.youtube.com/watch?v=CgRaJZlqwzw" target="_blank">VICE: London Bikelife</a><br/>
<div class="video-container"><iframe src="https://www.youtube.com/embed/CgRaJZlqwzw?vq=hd1080&modestbranding=1&showinfo=0&rel=0&color=white" width="800" height="415" frameborder="0"></iframe></div>
<br/>

  
<a href="https://www.lastjapan.com/shop" target="_blank">ASCEND</a><br/>
  <p>2016, 12" vinyl release on Coyote Records it featured then up and coming rapper and MC AJ Tracey. Keeping my signature style as the bed, I drew for similar sound palettes used by Hans Zimmer to create a icy aesthetic to the track.</p>
<div class="video-container"><iframe src="https://www.youtube.com/embed/wsqRUf-iMAc?vq=hd1080&modestbranding=1&showinfo=0&rel=0&color=white" width="800" height="415" frameborder="0"></iframe></div>
<br/>

  
<a href="https://www.youtube.com/watch?v=tAbPx2yCFwE" target="_blank">VICE: Black Widow</a><br/>
<div class="video-container"><iframe src="https://www.youtube.com/embed/tAbPx2yCFwE?vq=hd1080&modestbranding=1&showinfo=0&rel=0&color=white" width="800" height="415" frameborder="0"></iframe></div>
<br/>
  
  
<a href="https://www.youtube.com/watch?v=VaMjhwFE1Zw" target="_blank">VICE: Inside the Superhuman World of Iceman</a><br/>
<div class="video-container"><iframe src="https://www.youtube.com/embed/VaMjhwFE1Zw?vq=hd1080&modestbranding=1&showinfo=0&rel=0&color=white" width="800" height="415" frameborder="0"></iframe></div>
<br/>
  
  
<a href="https://www.youtube.com/watch?v=pPviiyHvk7A" target="_blank">Evian x KENZO 'Naturally Playful'</a><br/>
<div class="video-container"><iframe src="https://www.youtube.com/embed/pPviiyHvk7A?vq=hd1080&modestbranding=1&showinfo=0&rel=0&color=white" width="800" height="415" frameborder="0"></iframe></div>
<br/>
  
  
<a href="https://www.youtube.com/watch?v=8mEU7yjG55g" target="_blank">Hardy Caprio 'Nights In Black'</a><br/>
<div class="video-container"><iframe src="https://www.youtube.com/embed/8mEU7yjG55g?vq=hd1080&modestbranding=1&showinfo=0&rel=0&color=white" width="800" height="415" frameborder="0"></iframe></div>
<br/>
  
  
<a href="https://www.youtube.com/watch?v=NxojlDVy21w" target="_blank">Zomby 'Pyrex Nights (feat. Last Japan)'</a><br/>
<div class="video-container"><iframe src="https://www.youtube.com/embed/NxojlDVy21w?vq=hd1080&modestbranding=1&showinfo=0&rel=0&color=white" width="800" height="415" frameborder="0"></iframe></div>
<br/>
  
  
<a href="https://soundcloud.com/haleek-maul/my-plane-prod-last-japan-shy-guy" target="_blank">Haleek Maul 'My Plane'</a><br/>
<a href="https://youtu.be/8mImaymLtoE" target="_blank">Nokia 'Lumia 820'</a><br/>
  </p>
  
</div>

<ul class="dib w-30-m w-30-ns list ml0 pl0 fl">
</ul>

  <!-- {% for item in site.posts %}
  <li>
    <span>{{ item.date | date: "%B %-d, %Y" }}</span>
    <h1>
      <a href="{{ item.url | prepend: site.baseurl }}">{{ item.title }}</a>
    </h1>
  </li>
  {% endfor %} -->

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-57605289-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-57605289-1');
</script>
