---
layout: profile
title: 'Scores and Sound Design'
---

{% include contentHeader.html title=page.title %}
<div class="dib w-80-m w-80-ns fl mr4-ns">
  <p>
<a href="https://www.youtube.com/watch?v=pPviiyHvk7A" target="_blank">Evian x KENZO 'Naturally Playful'</a><br/>
  <p>Australian artist and director Nic Hamilton approached me to submit a piece of music to soundtrack his animation for the Evian x Kenzo 'Naturally Playful' global campaign.</p>
<div class="video-container"><iframe src="https://www.youtube.com/embed/pPviiyHvk7A?vq=hd1080&modestbranding=1&showinfo=0&rel=0&color=white" width="800" height="415" frameborder="0"></iframe></div>
<br/>  


<a href="https://youtu.be/8mImaymLtoE" target="_blank">Nokia 'Lumia 820'</a><br/>
<p>I was approached to be a part of this global campaign for Nokia by London based company DesignStudio. In collaboration with Luke Oldham I created the music for, and also starred in, three separate adverts that showcased various features of the Nokia Lumia 820.</p>
<div class="video-container"><iframe src="https://www.youtube.com/embed/YLLBMT4imso?vq=hd1080&modestbranding=1&showinfo=0&rel=0&color=white" width="800" height="415" frameborder="0"></iframe></div>
<br/>
  
<a href="https://youtu.be/atpHA3kRUIA" target="_blank">Pause Festival 'Ian Clemmer'</a><br/>
<p>Music composition and sound design created in collaboration with Radium Audio for Australia's business and creativity festival, Pause Fest.</p>
<div class="video-container"><iframe src="https://www.youtube.com/embed/atpHA3kRUIA?vq=hd1080&modestbranding=1&showinfo=0&rel=0&color=white" width="800" height="415" frameborder="0"></iframe></div>
<br/>  
  
  
<a href="https://www.gq-magazine.co.uk/video/the-business-of-grime-full-series" target="_blank">GQ Magazine</a><br/>
  <p>Working with Ewan Spencer and his team, I soundtracked parts of the documentary and helped select music that features in GQ's documentary about the history of Grime music.</p>
<div class="video-container"><iframe src="https://www.youtube.com/embed/3_2AVogIb5c?vq=hd1080&modestbranding=1&showinfo=0&rel=0&color=white" width="800" height="415" frameborder="0"></iframe></div> 
<br/>

  
 <a href="https://youtu.be/O5FTHvzsbh8" target="_blank">Bugatti - Car Advert</a><br/>
  <p>Alternative music composition concept to an already published advert. Composed, recorded and mixed by Luke Oldham and I.</p>
<div class="video-container"><iframe src="https://www.youtube.com/embed/O5FTHvzsbh8?vq=hd1080&modestbranding=1&showinfo=0&rel=0&color=white" width="800" height="415" frameborder="0"></iframe></div>
<br/>
  
  
<a href="https://youtu.be/Aai6oncd3D4" target="_blank">Apple 'iPad Air'</a><br/>
<p>Alternative music composition concept to an already published advert. Composed, recorded and mixed by Luke Oldham and I.</p>
<div class="video-container"><iframe src="https://www.youtube.com/embed/Aai6oncd3D4?vq=hd1080&modestbranding=1&showinfo=0&rel=0&color=white" width="800" height="415" frameborder="0"></iframe></div>
<br/>

    
  
<a href="https://www.youtube.com/watch?v=CgRaJZlqwzw" target="_blank">VICE: London Bikelife</a><br/>
  <p>On a number of occasions I've been approached by VICE requesting to license tracks for feature documentaries they are creating. In the documentary below my compositions Golden Eye, Crystal Tokyo and M.Y.S.T were used.</p> 
<div class="video-container"><iframe src="https://www.youtube.com/embed/CgRaJZlqwzw?vq=hd1080&modestbranding=1&showinfo=0&rel=0&color=white" width="800" height="415" frameborder="0"></iframe></div>
<br/>
  
  
<a href="https://www.youtube.com/watch?v=tAbPx2yCFwE" target="_blank">VICE: Black Widow</a><br/>
  <p>On a number of occasions I've been approached by VICE requesting to license tracks for feature documentaries they are creating. In the documentary below my track Girl was used.</p>
<div class="video-container"><iframe src="https://www.youtube.com/embed/tAbPx2yCFwE?vq=hd1080&modestbranding=1&showinfo=0&rel=0&color=white" width="800" height="415" frameborder="0"></iframe></div>
<br/>
  
  
<a href="https://www.youtube.com/watch?v=VaMjhwFE1Zw" target="_blank">VICE: Inside the Superhuman World of Iceman</a><br/>
    <p>On a number of occasions I've been approached by VICE requesting to license tracks for feature documentaries they are creating. In the documentary below my track Untitled #3 was used.</p>
<div class="video-container"><iframe src="https://www.youtube.com/embed/VaMjhwFE1Zw?vq=hd1080&modestbranding=1&showinfo=0&rel=0&color=white" width="800" height="415" frameborder="0"></iframe></div>
<br/>
</div>




  <!-- {% for item in site.posts %}
  <li>
    <span>{{ item.date | date: "%B %-d, %Y" }}</span>
    <h1>
      <a href="{{ item.url | prepend: site.baseurl }}">{{ item.title }}</a>
    </h1>
  </li>
  {% endfor %} -->

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-57605289-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-57605289-1');
</script>

