<div class="menu" id="i-worksMenu">
  <ul class="list pl4 f5">
    <li class="mb2">
      <a href="" class="menu-link o-100" id="i-productionMenuLink">PRODUCTION</a>
    </li>
    <li class="mb2">
      <a href="" class="menu-link o-30" id="i-prodByMenuLink">PROD BY.</a>
    </li>
    <li class="mb2">
      <a href="" class="menu-link o-30" id="i-soundtracksMenuLink">SOUNDTRACKS</a>
    </li>
    <li class="mb2">
      <a href="" class="menu-link o-30" id="i-fashionMenuLink">FASHION</a>
    </li>
  </ul>
</div>
