<div class="menu w-40 w-100-l dib" id="i-worksMenu">
  <ul class="list pl4">
    <li class="mb2">
      <a href="#production" class="menu-link o-100" id="to-production">PRODUCTION</a>
    </li>
    <li class="mb2">
      <a href="#prodBy" class="menu-link o-30" id="to-prodby">PROD BY.</a>
    </li>
    <li class="mb2">
      <a href="#soundtracks" class="menu-link o-30" id="to-soundtracks">SOUNDTRACKS</a>
    </li>
    <li class="mb2">
      <a href="#fashion" class="menu-link o-30" id="to-fashion">FASHION</a>
    </li>
  </ul>
</div>
