<div class="works__outer pt4" id="prodBy">
  <div class="container pt4 mt3">
    <div class="works-submenu submenu--prodby w-25">
      <ul class="list uppercase w-30">
        <li>
          <a href="" id="works-prodby-COY013" data-open-category="COY013">JAM BAXTER</a>
        </li>
        <li>
          <a href="" id="works-prodby-RELOAD" data-open-category="RELOAD">Haleek Maul</a>
        </li>
        <li>
          <a href="" id="works-prodby-LASTJAPAN002" data-open-category="LASTJAPAN002">Hardy Caprio</a>
        </li>
      </ul>
    </div>
  </div>
</div>
