<div class="works__outer pt4" id="i-production">
  <div class="container pt4 mt3">
    <div class="works-submenu submenu--fashion w-25">
      <ul class="list uppercase w-30">
        <li>
          <a href="" id="works-production-ascend001" data-open-category="ASCEND001">ASCEND001</a>
        </li>
        <li>
          <a href="" id="works-production-coy020" data-open-category="COY020">COY020</a>
        </li>
        <li>
          <a href="" id="works-production-CRWL002" data-open-category="CRWL002">CRWL002</a>
        </li>
        <li>
          <a href="" id="works-production-floor_six" data-open-category="FLOOR-SIX">FLOOR SIX</a>
        </li>
        <li>
          <a href="" id="works-production-COY013" data-open-category="COY013">COY013</a>
        </li>
        <li>
          <a href="" id="works-production-RELOAD" data-open-category="RELOAD">RELOAD</a>
        </li>
        <li>
          <a href="" id="works-production-LASTJAPAN002" data-open-category="LASTJAPAN002">LASTJAPAN002</a>
        </li>
        <li>
          <a href="" id="works-production-LASTJAPAN002" data-open-category="LASTJAPAN001"">LASTJAPAN001</a>
        </li>
        <li>
          <a href="" id="works-production-4AD" data-open-category="4AD">4AD</a>
        </li>
        <li>
          <a href="" id="works-production-space_time" data-open-category="space_time">SPACE + TIME (Sony RCA)</a>
        </li>
        <li>
          <a href="" id="works-production-LNUK002" data-open-category="LNUK002">LNUK002</a>
        </li>
      </ul>
    </div>
  </div>
</div>
