@font-face {
  font-family: 'Oswald';
  src: url('../fonts/Oswald-Bold.eot'),
  url('../fonts/Oswald-Bold.woff') format('woff'),
  url('../fonts/Oswald-Bold.svg#Oswald-Bold') format('svg');
  font-weight: 300;
}


@font-face {
  font-family: 'Oswald';
  src: url('../fonts/Oswald-Light.eot'),
  url('../fonts/Oswald-Light.woff') format('woff'),
  url('../fonts/Oswald-Light.svg#Oswald-Light') format('svg');
  font-weight: 100;
}


@font-face {
  font-family: 'Oswald';
  src: url('../fonts/Oswald-Regular.eot'),
  url('../fonts/Oswald-Regular.woff') format('woff'),
  url('../fonts/Oswald-Regular.svg#Oswald') format('svg');
  font-weight: 200;
}

@font-face {
  font-family: 'DINPro';
  src: url('../fonts/DINPro-Regular.eot'),
  url('../fonts/DINPro-Regular.woff') format('woff'),
  url('../fonts/DINPro-Regular.svg#DINPro-Regular') format('svg');
  font-weight: 200;
}

@font-face {
  font-family: 'DrukWide';
  src: url('../fonts/DrukWide-Bold.eot');
  src: url('../fonts/DrukWide-Bold.woff2') format('woff2'),
       url('../fonts/DrukWide-Bold.woff') format('woff'),
       url('../fonts/DrukWide-Bold.ttf') format('truetype'),
       url('../fonts/DrukWide-Bold.svg#DrukWide-Book') format('svg'),
       url('../fonts/DrukWide-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'TCondensed';
  src: url('Fonts/TeXGyreHeros-Regular.eot');
  src: url('Fonts/TeXGyreHeros-Regular.woff2') format('woff2'),
       url('Fonts/TeXGyreHeros-Regular.woff') format('woff'),
       url('Fonts/TeXGyreHeros-Regular.ttf') format('truetype'),
       url('Fonts/TeXGyreHeros-Regular.svg#PilatWide-Book') format('svg'),
       url('Fonts/TeXGyreHeros-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

body, html {
  font-family: 'DINPro';
  font-weight: 100;
  font-size: 15px;
  line-height: 26px;
}

.f1, .f2, .f3, .f4, .f5 {
  font-weight: 100;
  text-transform: uppercase;
}

.druk {
  font-family: 'DrukWide', sans-serif;
  font-weight: bold;
}
