{% assign current = page.url | downcase | split: '/' %}
{% include head/base.html %}
<!-- <div class="covervid-wrapper dn db-ns">
    <video class="covervid-video" id="vid" poster="/assets/images/bg.jpg" autoplay loop>
      <source src="/assets/images/bg_vid.mp4" type='video/mp4'>
    </video>
</div> -->

<div class="w-100 w-50-l fixed left-0 bottom-0 top-0 z-3">
  <div class="h-100 pa4 fl">
    <div class="h-100 menu pa4">
      <div>
        <ul class="list pl0">
          <li class="mb2">
            <a class="{% if current[1] == 'home' %}active{% endif %} black caps" href="/">Home</a>
          </li>
          <li class="mb2">
            <a class="{% if current[1] == 'profile' %}active{% endif %} black caps" href="/profile">Profile</a>
          </li>
          <li class="mb2">
            <a class="{% if current[1] == 'works' %}active{% endif %} white caps" href="/music">Works</a>
          </li>
          <li class="mb2">
            <a class="{% if current[1] == 'shop' %}active{% endif %} white caps" href="/shop">Shop</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <section class="z-4 {% unless page.noContentArea %}content-active{% endunless %} pt5 content w-100 w-75-l fixed bottom-0 top-0 pa5 z-1">
    {{ content }}
  </section>
</div>
