{% assign current = page.url | downcase | split: '/' %}
{% include head/base.html %}
<!-- <div class="covervid-wrapper dn db-ns">
    <video class="covervid-video" id="vid" poster="/assets/images/bg.jpg" autoplay loop>
      <source src="/assets/images/bg_vid.mp4" type='video/mp4'>
    </video>
</div> -->

<div class="w-100 w-25-l">
  <div class="h-100 pa4 fl">
    <div class="h-100 menu pa4 absolute fixed-l left-0 bottom-0 top-0 z-5">
      <div class=" dib w-33 w-100-l">
        <ul class="list pa4 pa4-l pl0">
          <li class="mb2">
            <a class="{% if current[1] == 'home' %}active{% endif %} black caps" href="/">Index</a>
          </li>
          <li class="mb2">
            <a class="{% if current[1] == 'profile' %}active{% endif %} black caps" href="/profile">Profile</a>
          </li>
          <!-- <li class="mb2">
            <a class="{% if current[1] == 'works' %}active{% endif %} white caps" href="/works">Works</a>
          </li> -->
          <li class="mb2">
            <a class="{% if current[1] == 'shop' %}active{% endif %} white caps" href="/shop">Shop</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="container w-100">
  <section class="z-4 {% unless page.noContentArea %}content-active{% endunless %} pt5 content profile-content w-100 absolute bottom-0 top-0 pa5 z-1">
    {{ content }}
  </section>
</div>
